@font-face
  font-family: 'SourceSans'
  src: url('/assets/font/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('/assets/font/sourcesanspro-regular-webfont.woff') format('woff')
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility
