/* boutique */
body.boutique .slide-01
  background-image: url(/assets/img/slides/boutique/lge/01.jpg)

body.boutique .slide-02
  background-image: url(/assets/img/slides/boutique/lge/02.jpg)

body.boutique .slide-03
  background-image: url(/assets/img/slides/boutique/lge/03.jpg)

body.boutique .slide-04
  background-image: url(/assets/img/slides/boutique/lge/04.jpg)

body.boutique .slide-05
  background-image: url(/assets/img/slides/boutique/lge/05.jpg)

body.boutique .slide-06
  background-image: url(/assets/img/slides/boutique/lge/06.jpg)
